.about{
  .about__content{
    display: flex;
    overflow: hidden;
    .content__img{
      min-width: 400px;
      max-width: 500px;
      margin-right: 20px;
    }
    .content__info{
      overflow: auto;
      word-break: break-all;
      max-height: 400px;
    }
  }
}