.about{
  .about__content{
    display: flex;
    align-items: center;
    .content__img{
      width: 50%;
      margin-right: 20px;
    }
    .content__info{
      word-break: break-all;
      width: 50%;
    }
  }
}
