.header {
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      display: flex;
      align-items: center;

      .call {
        display: flex;
        align-items: center;
        .call__svg {
          margin-right: 10px;
          max-width: 30px;
          fill: $white;
        }

      }

      .menu__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;

        .menu__item {
          margin-right: 20px;
          font-size: 20px;
          cursor: pointer;


          .menu__link {
            transition: all .3s;

            &:hover {
              color: $white;
            }
          }


          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.slick, .stop-slick {
  background: $black;

  .call {
    &:hover {
      border-color: $green;
      background: $green;
    }

  }

  .header__inner {
    .menu {
      .menu__list {
        .menu__item {
          color: $white;

          .menu__link {
            &:hover {
              color: $green;
            }
          }


        }
      }
    }
  }
}

.stop-slick {
  position: relative;
  margin-bottom: 50px;
}