.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      max-width: 100px;
    }

    .menu {
      .menu__list {
        display: flex;
        flex-wrap: wrap;

        .menu__item {
          margin-right: 20px;
          font-size: 20px;
          cursor: pointer;
          transition: all .3s;
          &:hover{
            color: $white;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}