.services {
  .services__content {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
    .content__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $darkgray;
      text-align: center;
      border-radius: 13px;
      padding: 20px;
      transition: all .3s;

      &:hover{
        transform: translateY(-10px);
        border-color: $green;
      }

      .item-block__img {
        max-width: 60px;
        margin-bottom: 20px;
      }

      .item-block__inner {
        .item-block__title {
          margin-bottom: 20px;
        }
      }
    }
  }

}